<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="common/css/style.css")
  title 広島フロントエンド勉強会 Vol9 DEMO
body
  
  .demo
    h1 広島フロントエンド勉強会 Vol9 DEMO
    
    nav
      ul
        li
          a(href="demo/alert.html") アラート
        li
          a(href="demo/event1.html") イベント
        li
          a(href="demo/event2.html") イベント(関数)
        li
          a(href="demo/event3.html") イベント(クラス)
        li
          a(href="demo/confirm.html") 質問
        li
          a(href="demo/omikuji.html") おみくじ
        li
          a(href="demo/validation.html") バリデーション
  