<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="../common/css/style.css")
  title アラート
  
  script.
    document.addEventListener("DOMContentLoaded", function(){
      
      alert("Hello World");
      
      console.log("Hello World");
      
    }, false);
  
body
  
  .demo
    h1 アラート
    .demo_view
      
    .demo_code
      h2 HTML
        
      h2 SCRIPT
      pre
        code.
          alert("Hello World");
      
          console.log("Hello World");