<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="../common/css/style.css")
  title 質問
  
  script.
    document.addEventListener("DOMContentLoaded", function(){
      
      let btn = document.getElementById("btn");
      
      btn.addEventListener('click', function(){
        let cnf = 
      confirm("今までヒロフロに参加したことはありますか？\nOK: YES\nキャンセル: NO");
        
        if(cnf == true){
          alert("毎度ありがとうございます！");
        }else{
          alert("今後ともよろしくお願いします！");
        }
      });
      
    }, false);
  
body
  
  .demo
    h1 質問
    .demo_view
      
      button#btn 質問
      
    .demo_code
      h2 HTML
      pre
        code.
          &lt;button id=&quot;btn&quot;&gt;&#36074;&#21839;&lt;/button&gt;
        
      h2 SCRIPT
      pre
        code.
          let btn = document.getElementById("btn");
          btn.addEventListener('click', function(){
            let cnf = 
          confirm("今までヒロフロに参加したことはありますか？\nOK: YES\nキャンセル: NO");
            
            if(cnf == true){
              alert("毎度ありがとうございます！");
            }else{
              alert("今後ともよろしくお願いします！");
            }
          });