<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="../common/css/style.css")
  title イベント(関数)
  
  script.
    document.addEventListener("DOMContentLoaded", function(){
      
      let btn = document.getElementById('btn');
      let btn2 = document.getElementById('btn2');
      
      function onBtn(elm){
        elm.addEventListener('click', function(){
          alert('Hello World');
        });
      }
      
      onBtn(btn);
      onBtn(btn2);
      
    }, false);
  
body
  
  .demo
    h1 イベント(関数)
    .demo_view
      
      button#btn Hello
      
      button#btn2 Hello
      
    .demo_code
      h2 HTML
      pre
        code.
          &lt;button id=&quot;btn&quot;&gt;Hello&lt;/button&gt;

          &lt;button id=&quot;btn2&quot;&gt;Hello&lt;/button&gt;
        
      h2 SCRIPT
      pre
        code.
          let btn = document.getElementById('btn');
          let btn2 = document.getElementById('btn2');
          
          function onBtn(elm){
            elm.addEventListener('click', function(){
              alert('Hello World');
            });
          }
          
          onBtn(btn);
          onBtn(btn2);