<!DOCTYPE html>
html(lang="ja")
head
  meta(charset="UTF-8")
  meta(name="keywords", content="")
  meta(name="description", content="")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width")
  link(rel="stylesheet", href="../common/css/style.css")
  title おみくじ
  
  script.
    document.addEventListener("DOMContentLoaded", function(){
      
      //#btnを取得
      let btn = document.getElementById("btn");
      
      btn.addEventListener('click', function(){
        //1から5までの乱数を生成
        let rand = Math.floor(Math.random() * 5) + 1;
        
        if(rand == 1){
          alert("大吉");
        }else if(rand == 2){
          alert("中吉");
        }else if(rand == 3){
          alert("小吉");
        }else if(rand == 4){
          alert("凶");
        }else if(rand == 5){
          alert("大凶");
        }else{
          alert("エラー");
        }
      });
      
    }, false);
  
body
  
  .demo
    h1 おみくじ
    .demo_view
      
      button#btn おみくじ
      
    .demo_code
      h2 HTML
      pre
        code.
          &lt;button id=&quot;btn&quot;&gt;&#12362;&#12415;&#12367;&#12376;&lt;/button&gt;
        
      h2 SCRIPT
      pre
        code.
          //#btnを取得
          let btn = document.getElementById("btn");
          
          btn.addEventListener('click', function(){
            //1から5までの乱数を生成
            let rand = Math.floor(Math.random() * 5) + 1;
            
            if(rand == 1){
              alert("大吉");
            }else if(rand == 2){
              alert("中吉");
            }else if(rand == 3){
              alert("小吉");
            }else if(rand == 4){
              alert("凶");
            }else if(rand == 5){
              alert("大凶");
            }else{
              alert("エラー");
            }
          });